
.cv_print_container {
  display: flex;
  &:hover {
    background-color: #dedede;
  }
  a {
    padding: 1em;
    width: 100%;
  }
}

/* default row params */
.row {
  text-align: justify;
  margin: 2rem 1rem;

  p {
    margin-bottom: 0;
  }
}

/* per column params */
.cv_left_col {
  background-color: $left-col-bg;
  p {
    color: $left-col-text-color;
  }
  .header {
    color: $left-col-header-color;
  }
  .sub.header {
    color: $left-col-subheader-color!important;
  }
}

.cv_right_col {
  background-color: $right-col-bg;
  p {
    color: $right-col-text-color;
  }
  .header {
    color: $right-col-header-color;
  }
  .sub.header {
    color: $right-col-subheader-color!important;
  }
}


.it_skills_img {
  height: 100px!important;
  max-width: 50%!important;
  object-fit: cover!important;
  object-position: 75% 50%!important;
  margin-top: .5em;
  & ~ p {
    line-height: 1.7;
  }
}
