@media print {

  body {
    font-size: .9rem;
  }

  .cv_print_container {
    display: none!important;
  }

  /* default row params */
  .row {
    margin: .8rem .3rem;
  }

  .column {
    padding-left: .5rem!important;
    padding-right: .5rem!important;
  }

  /* per column params */
  .cv_left_col {
    background-color: $print-left-col-bg;
    p {
      color: $print-left-col-text-color;
    }
    .header {
      color: $print-left-col-header-color;
    }
    .sub.header {
      color: $print-left-col-subheader-color!important;
    }
  }

  .cv_right_col {
    background-color: $print-right-col-bg;
    p {
      color: $print-right-col-text-color;
    }
    .header {
      color: $print-right-col-header-color;
    }
    .sub.header {
      color: $print-right-col-subheader-color!important;
    }
  }

  .it_skills_img {
    max-width: 40%!important;
    & ~ p {
      line-height: 1.8;
    }
  }
}
